@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Karla', sans-serif;
  color: darkslategrey;

  scrollbar-gutter: stable both-edges;

}

.content {

  padding: 0 10vw;
  max-width: 100%;

}

header {

  margin: 0 auto;
  padding: 0 100px;

  background-color: #f2f2f2;
  opacity: 98%;
  color: darkslategrey;


  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  align-items: center;

  height: 8vh;
  
  max-width: 100%;
  border-bottom: 1px solid #f2f2f2ec;

  font-size: 20px;

  
  /* background-color: aliceblue; */
}

.navbar h1{
  font-size: 30px;
  margin: 0 auto;

}
.navbar a {
  text-decoration: none;
  padding: 0 20px;
  color: darkslategrey;
}

.navbar .links {
  margin-left: auto;
}


#homepage {
  background-color: #FFF;

  margin: 0 auto;

  min-width: 100%;
  min-height: 92vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  border-bottom: 1px solid #000;
}

#homepage h1 {
  margin: 50px auto;
  padding: 0 auto;
  font-size: 80px;
}
.section {
  height: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 90vh; 

  text-align: left;

  /* margin: 0 5%; */
  padding-top: 40px;

  border-bottom: 1px solid #000;
  
}

.section h2 {
  font-size: 30px;
  padding: 0 5%;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-self: baseline;

  padding: 0 5%;
}

.about-description {
  max-width: 50%;

  justify-self: baseline;
}

.profile-picture {
  width: 30%;
  height: auto;
  border-radius: 50%;

  align-self: center;
  justify-self: right;

  margin-right: 10%;

}

.project-gallery {
  display: flex;
  justify-content: center;
  align-self: baseline;

  flex-wrap: wrap;

  margin: 5%;

}
.project-tile {

  width: 250px;
  height: auto;

  margin: 30px;

  display: flex;
  text-align: center;
  
  flex-basis: 20%;

}

.project-tile a {
  text-decoration: none;
  color: lightslategray;
  font-weight: 500;
}

.project-tile img {
  width: 100%;
  height: auto;
 
  border-radius: 5%;

  transition: transform .25s, filter 0.5s ease-in-out;
  /* filter: grayscale(60%); */
}

.project-tile:hover img{
  filter: grayscale(0);
  transform: scale(1.1);
}

.project-tile p {

  font-size: 20px;
}

.project-intro-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  /* filter: blur(2px); */
  z-index: -1;

  position: absolute;

  min-width: 100vw;
  min-height: 70vh;

  padding-top: 8vh;
  margin: 0 -10vw;
}

.project-intro {
  margin: auto;
  text-align: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 70vh;
  margin: 0 -10vw;
  
  padding-top: 8vh;

  border-bottom: 1px solid lightgray;


  /* color: #FFF; */

  /* background-color: rgba(255, 255, 255, .15);   */
  /* backdrop-filter: blur(5px); */
}

.project-intro h1{
  font-size: 60px;
}

.project-intro img {
  position: relative;
  z-index: -1;
  max-height: inherit;
  max-width: auto;

}

.project-content {
  height: auto;
  max-width: 65%;
  min-height: 90vh; 

  text-align: justify;

  margin: auto;
  /* padding: 10vh 0; */

}

.project-content h2 {
  font-size: 40px;
}

.project-content img {
  max-height: auto;
  max-width: 100%;
}

.markdown h1 {
  font-size: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.markdown h2 {
  font-size: 20px;
}

/* .markdown pre {
  background-color: #f6f8fa;
  padding: 15px;
}

.markdown code {
  background-color: #f6f8fa;
  padding: 2px;
  border-radius: 2px;
} */


/*

  RESUME

*/

#resume {
  min-width: 50px;
  min-height: 50px;

  max-width: 50px;
  max-height: 50px;

  margin: auto 30px 30px auto;
  padding: 20px;

  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  
  /* border-radius: 50%;
  border: 1px solid lightslategray; */
  
  transition: transform .25s, filter 0.5s ease-in-out;
}

#resume img {
  width: 100%;
  height: auto;
  
  filter: invert(34%) sepia(4%) saturate(3351%) hue-rotate(148deg) brightness(91%) contrast(92%);
}

@keyframes highlight {
  0%{
      border-radius: 50%;
      
  }
  100% {
      border-radius: 20%;
    border: 1px solid lightslategray;
  }
}

#resume:hover {
  /* transform: scale(1.1); */
  border-radius: 50%;
  border: 1px solid lightslategray;
  padding: 19px;
}




/*

  FOOTER

*/

#footer {
  min-width: 100vw;
  min-height: 40vh;

  margin-top: 100px;

  position: relative;
  color: darkslategray;
  

  background-color: #f2f2f2;
}

.footer-content {
  text-align: center;
  padding-top: 10px;
}

.footer-content h2 {
  font-size: 40px;
}

.contact-links {
  display: flex;
  flex-direction: row;


  align-content: center;
  justify-content: center;
  
}

.contact-item{
  max-width: 50px;
  height: auto;
  text-align: center;
  margin: 0 20px;

  align-content: center;

  transition: transform .25s, filter 0.5s ease-in-out;
  filter: invert(34%) sepia(4%) saturate(3351%) hue-rotate(148deg) brightness(91%) contrast(92%);
}

.contact-item:hover {
  transform: scale(1.1);
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;

  min-width: 100vw;
  border-top:1px solid lightgray;
}
